<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Analisador de Currículos</title>
        <script src="https://cdn.jsdelivr.net/npm/showdown@2.1.0/dist/showdown.min.js"></script>
        <script src="../static/script.js" defer></script>
        <link rel="stylesheet" href="../static/styles.css" />
        <link rel="stylesheet" href="../static/markdown.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
            integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
    </head>
    <body>
        <header>
            <i class="fa-solid fa-person"></i>
            <h1>Analisador de Currículos</h1>
        </header>
        <main>
            <form id="upload-form">
                <p>
                    Selecione o arquivo .pdf do currículo que desejar e receba
                    uma analise robusta e crítica.
                </p>
                <input type="file" id="file-input" />
                <button id="upload-button">
                    Analisar <i class="fa-regular fa-lightbulb"></i>
                </button>
            </form>
            <p id="loader">Carregando análise...</p>
            <div id="output"></div>
        </main>
    </body>
</html>
